include *.py
include *.i
include examples/*.py
include IB/*/*.cpp
include IB/*/*.h
include IB/*.cpp
include IB/*.h
include IB/*.txt
include patches/*
include README.rst
include CHANGES
include LICENSE
include MANIFEST.in
